[submodule "ACMH"]
	path = ACMH
	url = git@github.com:GhiXu/ACMH.git
[submodule "kompute"]
	path = extern/kompute
	url = git@github.com:KomputeProject/kompute.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "extern/tracy"]
	path = extern/tracy
	url = git@github.com:wolfpld/tracy.git
